@charset "utf-8";
@import url(reset.css);

#header-wrap {
  margin-bottom: 40px;  text-align: center;  padding: 43px 0 0; }
.header-inner {
  position: relative;  height: 172px;  max-width: 1008px;  margin: 0 auto;  }

.util-menu {
  position: absolute;  right: 10px;  top: 0;  font-size: 12px; }
.util-menu li {
  float: left;  padding-left: 10px;
    background: url(../images/common/bar-util.jpg) 0 8px no-repeat;  margin-left: 8px;
    color: black;  display: block;  line-height:30px; }
.util-menu li:first-child{
    background: none;    margin-left: 0;    padding: 0; }

body{
    background: #fffcf6 url(../images/common/bg-top.png) 0 0 repeat-x;
    font: 14px "맑은고딕";    color: #555;    min-width:320px }
.container {
  text-align: center;  margin: 0 100px 30px 100px;  padding: 10px;  background: lightblue;  }
#main_btn {  margin-top: 10px;  }
.main_btn {  margin: 10px;  background: #fce205;  border: 1.5px solid black;  border-radius: 20px;
  padding: 13px 25px;  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.15);  font-family: 'NanumJangMiCe';  font-size: 30px; }

.modal-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.modal-wrap {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  padding: 10px;
  background: #fff;
  z-index: 1000;
}
.modal-title {
   font-family: 'NanumJangMiCe';
   color: black;
   font-size: 30px;

}
.modal-close {  float: right; }
form input {
  width: 80%;
  padding: 10px 10px;
  font-size: 15px;
}
input::placeholder {
  font-family: "NanumJangmiCe";
  font-size: 18px;
}
