<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>학습뉴런 : 방 만들기</title>
  </head>
  <body>
    <div id="header-wrap">
      <header class="header-inner">
        <h1>
          <a href="main.html">
            <picture>
              <img src="images/common/home.png"/>
            </picture>
          </a>
        </h1>
        <ul class="util-menu">
          <li><a href="login.html">로그인</a></li>
          <li><a href="join.html">회원가입</a></li>
        </ul>
      </header>
    </div>
    <div class="container decoration">
      <table class="createTable">
        <tr><td colspan="2" id="roomTitle">방 제목</td></tr>
        <tr>
          <td><input type="text" name="roomName" id="roomName" value="2022-황윤동-01" disabled></td>
          <td><select style="width:100px;margin-right:10px" name="selectRoomName" id="selectRoomName">
             <option value="1">직접입력</option>
             <option value="날짜-강의자-방번호?" selected>형식대로</option>
          </select></td>
        </tr>
        <tr><td colspan="2" id="roomEntre">방 코드</td></tr>
        <tr>
          <td><input type="text" name="roomCode" id="roomCode" value="000000" disabled></td>
          <td><select style="width:100px;margin-right:10px" name="selectRoomCode" id="selectRoomCode">
             <option value="1">직접입력</option>
             <option value="난수 생성" selected>형식대로</option>
          </select></td>
        </tr>
      </table>
      <button type="button" name="button" class="main_btn">~방 만들~</button>
    </div><br>
    <footer>
      <hr>
      <div>
        <img src="images/common/logo.png" width="100px">
        <font size=2px><b>2022, Capstone Design.</b></font>
      </div>
    </footer>
  </body>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumJangMiCe.css" rel="stylesheet">
</html>
