<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title> 학습뉴런 HOME </title>
    </head>

    <body>
        <div id="header-wrap">
            <header class="header-inner">
                <h1>
                    <a href="index.html"> <!--HOME-->
                        <picture>
                            <source media="(max-width:800px)" srcset="images/common/logo-white.png">
                            <img src="images/common/logo.png" alt="학습뉴런"/>
                        </picture>
                    </a>
                </h1>
            </header>
        </div>
        <div class="tab_menu ">
            <ul class="list">
                <li class="is_on">
                    <a href="#tab1" class="btn">수업 분석</a>
                </li>
                <li>
                    <a href="#tab2" class="btn">질문하기</a>
                </li>
                <li>
                    <a href="#tab3" class="btn">생각 말하기</a>
                </li>
                <li>
                    <a href="#tab4" class="btn">생각 나누기</a>
                </li>
            </ul>

            <div class="cont_area" id="container">
                <div id="tab1" class="cont">
                    <h2>
                        New-Learn <br>
                        소통하는 수업을 위한 Neuron<br>
                        질의응답형 교육 보조 및 분석도구
                        학습뉴런 (New-Learn), 소통하는 수업을 위한 뉴런, 질의응답형 교육 보조 및 분석도구
                        수업 코드 | 분석 통계 (참여자 수, 이떄까지 올라온 질문들, 좋아요 많은 질문답 등)
                        <hr>
                        <img src="https://chart.apis.google.com/chart?cht=qr&chs=200x200&chl=학습뉴런" />
                    </h2>
                </div>
                <div id="tab2" class="cont">
                    Tab Content2
                </div>
                <div id="tab3" class="cont">
                    <div class="header">
                        <span id="num"><label>문제 번호</label></span>
                        <span id="name"><input type="text" placeholder="문제를 입력하세요."></span>
                        <span id="lecturer"><label>작성자</label></span>
                    </div>
                    <div class="content">
                        <form method="get" action="">
                            <div class="choicebox">
                                <p>1</p>
                                <label><input type="radio" name="color" value="blue" checked> <input type="text" placeholder="문제를 입력하세요."></label><br>
                                <label><input type="radio" name="color" value="red"> <input type="text" placeholder="문제를 입력하세요."></label><br>
                                <label><input type="radio" name="color" value="blue" checked> <input type="text" placeholder="문제를 입력하세요."></label><br>
                                <label><input type="radio" name="color" value="red"> <input type="text" placeholder="문제를 입력하세요."></label>
                                <p><input type="submit" value="Submit"> <input type="reset" value="Reset"></p>
                            </div>
                        </form>
                    </div>
                    <!--
                    학생용 객관식 퀴즈
                    <div class="container">
                      <div class="info">
                        <span id="num">문제 번호</span>
                        <span id="name">문제명</span>
                        <span id="lecturer">작성자</span>
                      </div>
                      <div class="content">
                        <form method="get" action="">
                          <div class="choicebox">
                            <p>Color</p>
                            <label><input type="radio" name="color" value="blue" checked> Blue</label><br>
                            <label><input type="radio" name="color" value="red"> Red</label>
                            <p><input type="submit" value="Submit"> <input type="reset" value="Reset"></p>
                          </div>
                          <div>
                          <이전 다음>
                          </div>
                        </form>
                      </div>
                    -->
                </div>
                <div id="tab4" class="cont">
                    <div class="header">
                        <input type="text" placeholder="질문을 입력하세요."></input>
                    </div>

                    <!--
                    <div class="header"> <h1>내가 좋아하는 과일은 ????</h1></div>
                    <div class="chart-area">
                       <div id="container"></div>
                    </div>
                  </body>
                  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
                  <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
                  <script>
                    anychart.onDocumentReady(function () {
                      var count = Math.random() * 100;
                      var data = [
                          {
                              "x": "사과", "value": 15, category: "red"
                          },{
                              "x": "바나나", "value": 12, category: "yellow"
                          },{
                              "x": "수박", "value": 10, category: "blue"
                          },{
                              "x": "참외", "value": 5, category: "yellow"
                          },{
                              "x": "자몽", "value": 3, category: "orange"
                          },{
                              "x": "다조아", "value": 2, category: "black"
                          }
                      ];
                      var chart = anychart.tagCloud(data);
                      chart.angles([0]);
                      chart.container("container");
                      // chart.getCredits().setEnabled(false);
                      chart.draw();
                    });
                  </script>-->
                </div>
            </div>
        </div>
    </div>

        <footer>
            <hr>
            <ul class="util-menu">
                <li> &nbsp   ~님 환영합니다.~</li>
                <li><a href="main0.html">수업 나가기</a></li>
            </ul>
            <div class="footerimg">
                <img src="images/common/logo.png" width="100px">
                <font size=2px><b>2022, Capstone Design.</b></font>
            </div>

        </footer>
    </body>
</html>
<link rel="stylesheet" href="css/index.css">
<link href="https://hangeul.pstatic.net/hangeul_static/css/NanumJangMiCe.css" rel="stylesheet">
<script src="js/jquery.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/common.js"></script>
<script>
    const tabList = document.querySelectorAll('.tab_menu .list li');
    const contents = document.querySelectorAll('.tab_menu .cont_area .cont')
    let activeCont = ' '; // 현재 활성화 된 컨텐츠 (기본:#tab1 활성화)

    for(var i = 0; i < tabList.length; i++){
        tabList[i].querySelector('.btn').addEventListener('click', function(e){
            e.preventDefault();
            for(var j = 0; j < tabList.length; j++){
                // 나머지 버튼 클래스 제거
                tabList[j].classList.remove('is_on');

                // 나머지 컨텐츠 display:none 처리
                contents[j].style.display = 'none';
            }

            // 버튼 관련 이벤트
            this.parentNode.classList.add('is_on');

            // 버튼 클릭시 컨텐츠 전환
            activeCont = this.getAttribute('href');
            document.querySelector(activeCont).style.display = 'block';
        });
    }
</script>