<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title> 학습뉴런 : 로그인 </title>
  </head>
  <body>
    <div id="header-wrap">
    <header class="header-inner">
      <h1>
        <a href="main.html">
          <picture>
            <img src="images/common/home.png"/>
          </picture>
        </a>
      </h1>
      <ul class="util-menu">
        <li><a href="login.html">로그인</a></li>
        <li><a href="join.html">회원가입</a></li>
      </ul>
    </header>
  </div>
    <div class="container decoration">
      <table class="loginTable">
        <tr>
          <td>아이디</td>
          <td><input type="text" name="userID" autocomplete="off" required /></td>
        </tr>
        <tr>
          <td>비밀번호</td>
          <td><input type="password" name="password" autocomplete="off" required /></td>
        </tr>
      </table>
      <button type="submit" class="main_btn">로그인 </button>
      <hr>
      <a href="join.html">회원가입</a> | <a href="find.html">계정 찾기 </a>
    </div><br>
    <footer>
      <hr>
      <div>
        <img src="images/common/logo.png" width="100px">
        <font size=2px><b>2022, Capstone Design.</b></font>
      </div>
    </footer>
  </body>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/common.css">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumJangMiCe.css" rel="stylesheet">
</html>
